body {
    font-family: 'Arial', sans-serif;
    background-color: #101820;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 20px auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.controls button {
    background-color: #1a1a1a;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
}

.connect-telegram {
    background-color: #0088cc;
    border-radius: 5px;
}

.controls .switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
}

.controls .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.controls .switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.controls .switch .slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

.controls .switch input:checked+.slider {
    background-color: #66bb6a;
}

.controls .switch input:checked+.slider:before {
    transform: translateX(14px);
}

main .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

main .info .percentage {
    font-size: 20px;
    text-align: center;
}

main .info .price {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}

main .average-price {
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    padding: 12px;
    text-align: center;
}

th {
    background-color: #1a1a1a;
    color: #ffffff;
}

tbody tr:nth-child(even) {
    background-color: #2a2a2a;
}

tbody tr:nth-child(odd) {
    background-color: #1a1a1a;
}

.add-to-home {
    display: block;
    width: 100%;
    background-color: #1a1a1a;
    color: #ffffff;
    border: none;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    margin-bottom: 20px;
}